:host {
	display: grid;
	grid-template-columns: 32px 1fr;
	gap: 16px;
	margin-top: 8px;
}

.comment-body {
	display: grid;
	gap: 8px;
}

.comment-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--light-transparent-color);
}
