.profile-card {
	border: 1px solid var(--light-color);
	padding: 32px 24px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 32px;
	align-items: center;
	background-color: var(--dark-color);

	@media (max-width: 700px) {
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: 500px) {
		grid-template-columns: none;
	}
}

.avatar-name {
	display: grid;
	align-items: center;
	grid-template-columns: 70px 1fr;
	gap: 20px;
}

.profile-card__avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	object-fit: cover;
}

.profile-card__name {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.profile-card__description {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.34;
}
