<div class="h-full form-page-wrap">
	<h4 class="h4 mb-16 center">Информация о доставке</h4>
	<form
		[formGroup]="form"
		class="regular-form-wrapper"
		(ngSubmit)="onSubmit($event)"
	>
		<div class="regular-form">
			<label class="tt-form-label">
				<span class="tt-form-label__text">Тип получателя</span>
				<select class="tt-form-input" formControlName="type">
					<option [value]="ReceiverType.INDIVIDUAL">Физическое лицо</option>
					<option [value]="ReceiverType.LEGAL">Юридическое лицо</option>
				</select>
			</label>
			<label class="tt-form-label">
				<span class="tt-form-label__text">Имя</span>
				<input
					type="text"
					class="tt-form-input"
					placeholder="Имя"
					formControlName="name"
				>
			</label>

			@if (form.controls.name.touched && form.controls.name.hasError('nameValid')) {
				<small>{{ form.controls.name.getError('nameValid')?.message }}</small>
			}

			@if (form.controls.name.touched && form.controls.name.hasError('startsWith')) {
				<small>{{ form.controls.name.getError('startsWith')?.message }}</small>
			}

			@if (form.controls.name.touched && form.controls.name.hasError('required')) {
				<small>Это обязательное поле</small>
			}

			@if (form.controls.type.value === ReceiverType.INDIVIDUAL) {
				<label class="tt-form-label">
					<span class="tt-form-label__text">Фамилия</span>
					<input
					type="text"
					class="tt-form-input"
					placeholder="Фамилия"
					formControlName="lastName"
					>
				</label>
			} @else {
				<label class="tt-form-label">
					<span class="tt-form-label__text">ИНН</span>
					<input
					type="text"
					class="tt-form-input"
					placeholder="ИНН"
					formControlName="inn"
					>
				</label>
			}

			<h5 class="h5 mb-16">Период доставки</h5>
			<div class="two-columns" formGroupName="dateRange">
				<label class="tt-form-label">
					<span class="tt-form-label__text">От</span>
					<input
						type="date"
						class="tt-form-input"
						formControlName="from"
					>
				</label>
				<label class="tt-form-label">
					<span class="tt-form-label__text">До</span>
					<input
						type="date"
						class="tt-form-input"
						formControlName="to"
					>
				</label>
			</div>

			@if (form.controls.dateRange.touched && form.controls.dateRange.hasError('dateRange')) {
				<small>{{ form.controls.dateRange.getError('dateRange')?.message }}</small>
			}

			<div class="flex justify-between">
				<h5 class="h5 mb-16 center">Адрес доставки</h5>
				<button type="button" class="btn" (click)="addAddress()">+</button>
			</div>

			@for (group of form.controls.addresses.controls; track group; let i = $index) {
				<div [formGroup]="group">
					<div class="two-columns">
						<label class="tt-form-label">
							<span class="tt-form-label__text">Город</span>
							<input
								type="text"
								class="tt-form-input"
								placeholder="Город"
								formControlName="city"
							>
						</label>
						<label class="tt-form-label">
							<span class="tt-form-label__text">Улица</span>
							<input
								type="text"
								class="tt-form-input"
								placeholder="Улица"
								formControlName="street"
							>
						</label>
						<label class="tt-form-label">
							<span class="tt-form-label__text">Дом</span>
							<input
								type="text"
								class="tt-form-input"
								placeholder="Дом"
								formControlName="building"
							>
						</label>
						<label class="tt-form-label">
							<span class="tt-form-label__text">Квартира</span>
							<input
								type="text"
								class="tt-form-input"
								placeholder="Квартира"
								formControlName="apartment"
							>
						</label>
						<button
							type="button"
							class="btn grid-full-width"
							(click)="deleteAddress(i)"
							>Удалить</button>
					</div>
				</div>
			}
		</div>

		<div [formGroup]="form.controls.feature">
			<h6 class="h6 mb-16">Дополнительные услуги</h6>
			<div class="grid gap-8 justify-start">
				@for (control of form.controls.feature.controls | keyvalue: sort; track control; let i = $index) {
					<label class="pointer">
						{{ features[i].label }}
						<input type="checkbox" [formControlName]="control.key">
					</label>
				}
			</div>
		</div>

		<button
			class="btn btn_shadow w-100"
			type="submit"
		>
			Подтвердить
		</button>
	</form>
</div>
