.profile-page__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px;
}

.profile-page__body {
	padding: 24px;
	display: grid;
	gap: 64px;
	grid-template-columns: 1fr 350px;
}

.to-settings-btn {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	gap: 8px;
	color: var(--dark-color);
}

.subscriber-avatar-btn {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	overflow: hidden;
}

.subscriber-avatar-img {
	object-fit: cover;
}

.subscribers-wrapper {
	display: flex;
	align-items: center;
	gap: 6px;
}

.to-subscribers-search {
	width: 14px;
	height: 14px;
	background-color: var(--light-color);
	border-radius: 50%;
	position: relative;
	margin-left: 16px;

	&::after,
	&::before {
		content: '';
		position: absolute;
		height: 8px;
		width: 2px;
		background-color: var(--dark-color);
		top: 50%;
		left: 50%;
		translate: -50% -50%;
	}

	&::after {
		rotate: 90deg;
	}
}