:host {
	display: grid;
	align-items: center;
	gap: 32px;
	min-height: 100dvh;
	margin: 0 5%;

	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
	}
}

.login-form {
	max-width: 440px;
}

.login-form,
.big-logo {
	place-self: center;
}

.password-input {
	position: relative;
}

.password-eye-btn {
	--alpha: 25%;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 12px;
	color: color-mix(in oklab, var(--light-color), transparent var(--alpha));
	display: grid;
	place-content: center;

	@media (any-hover: hover) {
		&:hover {
			--alpha: 0;
		}
	}

	&.active {
		color: var(--primary-color);
	}
}